#[respond]
#default_type: echo

[force_move]
enable_force_move: True

[filament_switch_sensor filament breakage detection]
pause_on_runout: False
switch_pin: ^!PD15
runout_gcode:
    {% if (printer.print_stats.state == "printing") %}
        PAUSE
    {% endif %}
    M118 Out of filament
insert_gcode:
    M118 Loading filament
    FORCE_MOVE STEPPER=extruder DISTANCE=8 VELOCITY=5 ACCEL=60
    {% if (printer.extruder.can_extrude|lower != 'true')
       or (printer.extruder.target == 0)%}
        M118 Waiting for heating!
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM=190
    {% endif %}
    M83
    G92 E0
    G0 E50 F50
    G0 E10 F20

[filament_motion_sensor clogging detection]
extruder: extruder
detection_length: 2.0
switch_pin: ^!PD13
pause_on_runout: False
runout_gcode:
    {% if (printer.print_stats.state == "printing") %}
        PAUSE
    {% endif %}
    M118 Clogging
insert_gcode:
    M118 Clogging recovery
#event_delay:
#pause_delay:

[gcode_button filament_load]
pin: ^!PG3
release_gcode:
    filament_load
press_gcode:

[gcode_macro filament_load]
gcode:
    {% if printer.print_stats.state != "printing" %}
        M83
        G92 E0

        {% set current_target = printer.extruder.target %}
        {% if (current_target < 210) %}
            M118 Extruder temp too low ({{ current_target }}°C), setting to 210°C
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210
        {% else %}
            M118 Using current extruder temp: {{ current_target }}°C
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210
        {% endif %}

        G0 E60 F50 ; Carica 60 mm di filamento
    {% else %}
        M118 Printing, no loading operation!
    {% endif %}

