#[respond]
#default_type: echo


[gcode_macro filament_load]
gcode:
    {% if printer.print_stats.state != "printing" %}
        M83
        G92 E0

        {% set current_target = printer.extruder.target %}
        {% if current_target < 210 %}
            M118 "Extruder temp too low"
            M118 "Current target: {current_target}C"
            M118 "Setting to 210C"
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210
        {% else %}
            M118 "Using current extruder temp: {current_target}C"
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210
        {% endif %}

        G0 E60 F250 ; Carica 60 mm di filamento
    {% else %}
        M118 "Printing, no loading operation!"
    {% endif %}

